.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background: #fff;
  padding: 0.5rem 5rem;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerLeft a {
  color: #000;
}

.headerLeft a:hover {
  color: rgb(192, 245, 245);
  transition: all 0.5s;
}

.userLink {
  display: flex;
  align-items: center;
}

.userLink span {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  padding: 0.5rem;
}

.userLink span img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.userLink b {
  font-size: 16px;
  color: #000;
  letter-spacing: 1px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.5s;
}

.listItem a {
  color: #000;
  font-size: 18px;
  font-family: 'Itim', cursive;
}

.listItem a:hover {
  color: rgb(192, 245, 245);
  transition: all 0.5s;
}

.logout {
  font-family: 'Itim', cursive;
}
